<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.openjweb.b2c.mapper.B2cStoreMapper">
    <select id="selectPageWithCondition" resultType="org.openjweb.b2c.entity.B2cStore"  >
        select *  from b2c_store
        <where>
            <if test="param.comId !=null and param.comId!=''">
                and com_id = #{param.comId}
            </if>
        </where>
    </select>
    <select id="selectPageWithCondition2" resultType="org.openjweb.b2c.module.result.B2cStoreResult"  >
        select *  from b2c_store
        <where>
            <if test="param.comId !=null and param.comId!=''">
                and com_id = #{param.comId}
            </if>
        </where>
    </select>
</mapper>