<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.openjweb.sys.mapper.ICommSystemParmsDao">
    <resultMap id="CommSystemParmsResultMap" type="org.openjweb.sys.entity.CommSystemParms">
        <id column="row_id" property="rowId" jdbcType="VARCHAR"/>
        <result column="parm_value" property="parmValue" jdbcType="VARCHAR"/>
        <result column="parm_name" property="parmName" jdbcType="VARCHAR"/>
        <result column="create_dt" property="createDt" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findParmValueByName" resultMap="CommSystemParmsResultMap" parameterType="String">
        select *  from comm_system_parms u
        <where>
            u.parm_name=#{parmName} 
        </where>
    </select>
    
    <insert id="add" parameterType="org.openjweb.sys.entity.CommSystemParms">
    insert into comm_system_parms (pk_id,row_id,parm_name,parm_value,create_dt,update_dt,create_uid,update_uid) 
    values (#{pkId},#{rowId},#{parmName},#{parmValue},#{createDt},#{updateDt},#{createUid},#{updateUid})
    </insert>
    <delete id="delByParmName" parameterType="string">
        delete from comm_system_parms where parm_name=#{parmName}
    </delete>
    <update id="updateByParmName" parameterType="org.openjweb.sys.entity.CommSystemParms">
       update comm_system_parms set parm_value=#{parmValue}  where parm_name=#{parmName}
    </update>
    
    <select id="findByParmName"  parameterType="string"  resultMap="CommSystemParmsResultMap" >
        select * from  comm_system_parms u 
        <where>  u.parm_name=#{parmName}</where>
    </select>
</mapper>
