<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.openjweb.core.mapper.CommSystemParmsMapper">
    <select id="queryList" resultType="org.openjweb.core.entity.CommSystemParms"  >
        select *  from comm_system_parms
        <where>
            <if test="param.parmName !=null ">
                and parm_name = #{param.parmName}
            </if>
            <if test="param.parmValue !=null ">
                and parm_value = #{param.parmValue}
            </if>
            <if test="param.parmDesc !=null ">
                and parm_desc = #{param.parmDesc}
            </if>
            <if test="param.parmOldValues !=null ">
                and parm_old_values = #{param.parmOldValues}
            </if>
            <if test="param.rowId !=null ">
                and row_id = #{param.rowId}
            </if>
            <if test="param.sortNo !=null ">
                and sort_no = #{param.sortNo}
            </if>
            <if test="param.createDt !=null ">
                and create_dt = #{param.createDt}
            </if>
            <if test="param.updateDt !=null ">
                and update_dt = #{param.updateDt}
            </if>
            <if test="param.createUid !=null ">
                and create_uid = #{param.createUid}
            </if>
            <if test="param.updateUid !=null ">
                and update_uid = #{param.updateUid}
            </if>
            <if test="param.pkId !=null ">
                and pk_id = #{param.pkId}
            </if>
            <if test="param.objName !=null ">
                and obj_name = #{param.objName}
            </if>
            <if test="param.masterRowId !=null ">
                and master_row_id = #{param.masterRowId}
            </if>
            <if test="param.flowTransId !=null ">
                and flow_trans_id = #{param.flowTransId}
            </if>
            <if test="param.dataFlg !=null ">
                and data_flg = #{param.dataFlg}
            </if>
            <if test="param.flowStatus !=null ">
                and flow_status = #{param.flowStatus}
            </if>


        </where>
    </select>


    <select id="findPage" resultType="org.openjweb.core.entity.CommSystemParms"  >
        select *  from comm_system_parms
        <where>
        <if test="param.parmName !=null ">
            and parm_name = #{param.parmName}
        </if>
        <if test="param.parmValue !=null ">
            and parm_value = #{param.parmValue}
        </if>
        <if test="param.parmDesc !=null ">
            and parm_desc = #{param.parmDesc}
        </if>
        <if test="param.parmOldValues !=null ">
            and parm_old_values = #{param.parmOldValues}
        </if>
        <if test="param.rowId !=null ">
            and row_id = #{param.rowId}
        </if>
        <if test="param.sortNo !=null ">
            and sort_no = #{param.sortNo}
        </if>
        <if test="param.createDt !=null ">
            and create_dt = #{param.createDt}
        </if>
        <if test="param.updateDt !=null ">
            and update_dt = #{param.updateDt}
        </if>
        <if test="param.createUid !=null ">
            and create_uid = #{param.createUid}
        </if>
        <if test="param.updateUid !=null ">
            and update_uid = #{param.updateUid}
        </if>
        <if test="param.pkId !=null ">
            and pk_id = #{param.pkId}
        </if>
        <if test="param.objName !=null ">
            and obj_name = #{param.objName}
        </if>
        <if test="param.masterRowId !=null ">
            and master_row_id = #{param.masterRowId}
        </if>
        <if test="param.flowTransId !=null ">
            and flow_trans_id = #{param.flowTransId}
        </if>
        <if test="param.dataFlg !=null ">
            and data_flg = #{param.dataFlg}
        </if>
        <if test="param.flowStatus !=null ">
            and flow_status = #{param.flowStatus}
        </if>
        </where>
    </select>

</mapper>